
body {
	color: #222222;
	font-family: sans-serif;
	font-size: 13px;
}

table {
	border: 1px solid #e1e2e3;	
	border-collapse: collapse;
}

th, td {
	border: 1px solid #e1e2e3;
	font-size: 13px;
	padding: 5px 8px;
	text-align: left;
	vertical-align: top;
}

th {
	padding-right: 20px;
}

td.amount,
th.amount {
	text-align: right;
}

/* tablesorter */
table.tablesorter {
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
}
table.tablesorter thead tr .header {
	background-image: url('tablesorter/bg.gif');
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
}
table.tablesorter tbody tr.odd td {
}
table.tablesorter thead tr .headerSortUp {
	background-image: url('tablesorter/asc.gif');
}
table.tablesorter thead tr .headerSortDown {
	background-image: url('tablesorter/desc.gif');
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
}
