
body {
	color: #222222;
	font-family: sans-serif;
	font-size: 13px;
	line-height: 20px;
}

h1 {
	font-size: 26px;
	line-height: 31px;
}

h2 {
	font-size: 19.5px;
	line-height: 24px;
}

h3 {
	font-size: 15px;
	line-height: 19px;
}

table {
	border: 1px solid #e1e2e3;	
	border-collapse: collapse;
	width: 100%;
}

th, td {
	border: 1px solid #e1e2e3;
	font-size: 13px;
	padding: 5px 8px;
	text-align: left;
	vertical-align: top;
}

a.toggle-link {
	text-decoration: none;
	border: 1px solid #a1a2a3;
	border-radius: 2px;
	color: #a1a2a3;
	font-family: "Courier New";
	margin-right: 5px;
	padding: 0 2px;
}

td.amount,
th.amount {
	text-align: right;
}

.member-container {
	margin: 0 auto;
	max-width: 840px;
}

.member-header {
	display: flex;
	flex-direction: row;
}

.member-image {
	margin-right: 20px;
}

.member-info {
	flex: auto;
}

.category-container {
	margin: 0 auto;
	max-width: 1240px;
}

.category-summary {
	border: 1px solid #e1e2e3;
	font-weight: bold;
	padding: 5px;
	margin: -1px 0 0 -1px;	
}

.subcategory-summary {
	border: 1px solid #e1e2e3;
	padding: 5px;	
	margin: -1px 0 0 -1px;	
}

.total-amount {
	float: right;
}

.details  {
	background-color: #fafafa;
	border: 1px solid #e1e2e3;
	padding: 10px;	
	margin: -1px 0 0 -1px;	
}

.details th,
.details td {
	background-color: white;
}

/* tablesorter */
table.tablesorter {
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
}
table.tablesorter thead tr .header {
	background-image: url('tablesorter/bg.gif');
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	padding-right: 20px;
}
table.tablesorter tbody td {
}
table.tablesorter tbody tr.odd td {
}
table.tablesorter thead tr .headerSortUp {
	background-image: url('tablesorter/asc.gif');
}
table.tablesorter thead tr .headerSortDown {
	background-image: url('tablesorter/desc.gif');
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
}
